<footer class="bgtop3 p-4 text-white-50 mt-3">
    <div class="container ">
        <section class="">
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <h3 class="text-white" style="font-size: 17px;">LIÊN HỆ VỚI CHÚNG TÔI</h3>
                <ul class="list-unstyled list-footer">
                  <li>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <a href="#!" class="text-white">11 xô viết nghệ tĩnh,phường 17,Q.Bình Thạnh,TP.HCM</a>
                  </li>
                  <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <a href="#!" class="text-white">0342616749</a>
                  </li>
                  <li>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <a href="#!" class="text-white">quang0706r@gmail.com</a>
                  </li>
                </ul>
                <p class="text-white"> Hộ kinh danh NƯỚC HOA <br> Do Phân Hiệu Trường ĐH Thủy Lợi cấp ngày:22/6/2023 <br> Mã số thuế:123456 </p>
              </div>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <h3 class="text-white" style="font-size: 17px;">THÔNG TIN</h3>
                <ul class="list-unstyled list-footer">
                  <li>
                    <a href="#!" class="text-white">Trang chủ</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Sản phẩm</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Giới thiệu</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Liên Hệ</a>
                  </li>
                </ul>
                <img src="images/bocongthuong.png" alt="chứng nhận bộ công thương" style="max-width: 70%;">
              </div>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 col-sm-6 col-6 mediahd">
                <h3 class="text-white" style="font-size: 17px;">HƯỚNG DẪN</h3>
                <ul class="list-unstyled list-footer2">
                  <li>
                    <a href="#!" class="text-white">Hướng dẫn mua hàng</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Hướng dẫn thanh toán</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Hướng dẫn giao nhận</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Điều khoản dịch vụ</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 col-sm-6 col-6 mediacs">
                <h3 class="text-white" style="font-size: 17px;">CHÍNH SÁCH</h3>
                <ul class="list-unstyled list-footer2">
                  <li>
                    <a href="#!" class="text-white">Chính sách bảo mật</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Chính sách vận chuyển</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Chính sách đổi trả</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white">Quy định sử dụng</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </section>
          <!-- Section: Links -->
        
        <!-- Grid container -->
      
        <!-- Copyright -->
        
        <div class="text-left p-3">
          © bản độc quyền thuộc về:
          <a class="text-white" href="https://www.facebook.com/nguyenthanh.quang.dz">Quang perfume</a>
        </div>
        <!-- Copyright -->
    </div>
</footer>
<!-- back to top  -->
<div class="top">
  <a href="#" class="btn btn-light back-to-top"
  style="border-radius: 80%; padding: 10px;"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
</div>
  <!-- Biểu tượng chat -->
<div id="chatbox-icon" style="position: fixed; bottom: 20px; right: 20px; background-color: #2c79c1; color: white; width: 50px; height: 50px; border-radius: 50%; text-align: center; line-height: 50px; cursor: pointer;">
<i class="fa fa-comments" aria-hidden="true"></i>
</div>

<!-- Chatbox -->
<div id="chatbox-container">
<div id="chatbox-header">
  Chatbox
  <button id="close-button" style="float: right;">X</button>
</div>
<div id="chatbox-body">
  <!-- Nội dung chat sẽ được hiển thị ở đây -->
</div>
<div class="row">
      <div class="col-lg-9">
         <input type="text" id="chatbox-input" placeholder="Nhập tin nhắn..." />
      </div>
      <div class="col-lg-2 mt-2">
          <button style="background-color: white;" onclick="Guidi()">Gửi</button>
      </div>
</div>
</div>